{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'alumnos/styles.css' %}">
    <title>{%block title%} Plennus {%endblock%}</title>
</head>
<body>
    <nav class="nav flex ">
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'crear_alumno' %}">Crear alumnos</a>
            <a href="{% url 'mostrar_alumnos' %}">Mostrar alumnos</a>
        </div>
        <form method="POST" action="{% url 'logout'%}">
            {%csrf_token%}
            <button type="submit">Cerrar Sesion</button>
        </form>

        {%else%}
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'login' %}">Iniciar Sesion</a>
        {%endif%}
    </nav>

    {% block body %}
    <!--  -->
    {% endblock %}
</body>
</html>